<div class="content-router" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <!--Lista de estabelecimentos vinculados-->
    <mat-card (click)="rowClick(establishment)" *ngFor="let establishment of establishments" fxLayout="row" 
    fxLayoutGap="15px" fxFlexAlign="center center">
        <div fxFlex fxLayout="column" fxFlexAlign="center center" fxLayoutGap="15px" fxLayout.gt-xs="row">
            <!--Imagem Estabelecimento-->
            <div fxFlexAlign="center center" fxLayout="row">
                <img class="establishment-picture"
                src={{establishment?.picture}} alt="" srcset="">
            </div>
            <!--Nome e endereço Estabelecimento-->
            <div fxFlex="60%" fxLayout="column" fxLayoutGap="5px">
                <h4>{{establishment?.name}}</h4>
                <p>{{establishment?.address}}</p>
            </div>
        </div>
    </mat-card>
</div>