// Import font - Googles fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');

$small-size: 36px;
$medium-size: 48px;
$big-size: 56px;

$white: #FFFFFF;
$gray-light: #E5E5E5;
$gray-medium: #E6E8F0;
$hunt_darker: #4C5164;
$hunt_alt: #81879C;
$border-light: #F9F9F9;
$black: #363840;
$shadow-light: #0000000d;
$green-light: #28CC9B;

$small-border-radius: 3px;
$medium-border-radius: 5px;
$small-border: 1px;